<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Available points for all clubs</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" media="all" />
</head>
<body>

<table>
    <caption>List of partner clubs</caption>
      <tr>
        <th>Club name</th>
        <th>Secretary email</th>
        <th>Points count</th>
      </tr>

        <tr>
        {% for club in clubs %}
        <th>{{club['name']}}</th>
        <td>{{club['email']}}</td>
        <td>{{club['points']}}</td>
        {% endfor %}
        </tr>
</table>

<a href="/">Go back to login page</a>

</body>
</html>