<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Available points for all clubs</title>

    <style>
    th, td {
	    border: 1px solid black;
	    padding: 8px;
	    text-align: center;
        vertical-align: middle;
    }
    h1 {
	    border: 1px solid black;
	    padding: 8px;
    }
    </style>

</head>
<body>

<table>
    <caption><b><font size="5">List of partner clubs</font></b></caption>
      <tr>
        <th>Club name</th>
        <th>Secretary email</th>
        <th>Points count</th>
      </tr>

        <tr>
        {% for club in clubs %}
        <th>{{club['name']}}</th>
        <td>{{club['email']}}</td>
        <td>{{club['points']}}</td>
        </tr>
        {% endfor %}
</table>

</br>

<a href="/">Go back to login page</a>

</body>
</html>